* {
    padding: 0;
    margin: 0;
}
header, main {
    margin: 0 auto;
    max-width: 99.9vw;
}
main {
    margin-bottom: 40px;
}
a {
    text-decoration: none;
    color: black;
}
.content {
    max-width: 1100px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 40px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.title_page {
    margin-left: 40px;
}
header {
    width: 100vw;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
    height: 70px;
    margin-bottom: 30px;
}
header .log_in {
    margin-left: auto;
    padding: 10px 32px;
    background-color: rgb(0, 167, 0);
    color: white;
    border: 0;
    border-radius: 20px;
    font-size: 14px;
}
header .log_in:hover {
    background-color: rgb(0, 146, 0);
    cursor: pointer;
}
main .card_book {
    padding: 10px;
    min-width: 100%;
    max-width: 100%;
    /* background-color: rgb(239, 239, 239); */
    padding: 20px;
    text-align: center;
    transition: .8s;
    border-radius: 5px;
    margin-bottom: 10px;
}

main .card_book:hover {
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
main .card_book h4, main .card_book h5 {
    width: calc(100% - 20px);
    text-align: left;
}
main .card_book .description {
    font-weight: normal;
    margin-top: 15px;
    margin-bottom: 5px;
    
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    line-clamp: 5;
    box-orient: vertical;
}
main .card_book img {
    width: 100%;
    
    margin-bottom: 10px;
}

main .card_book button {
    width: 100%;
    padding: 8px ;
    font-size: 15px;
    background-color: #fff;
    border: 0;
    border-radius: 20px;
    background-color: rgb(1, 172, 1);
    color: white;
    transition: .8s;
    margin-top: 10px;
    cursor: pointer;
}
main .card_book button:hover {
    transform: scale(1.05);
}
main .card_book .date_add {
    margin-top: 10px;
}
main .content .linkToBook {
    display: block;
    width: 21%;
    margin: 15px;
}





/*  */


main .info {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
}
main .info img {
    float: left;
    width: 22%;
    margin-right: 0px;
}
main .info .content {
    width: 70%;
    float: left;
    display: block;
}
main .info .content h1 {
    color: rgb(236, 165, 0);
    margin-bottom: 10px;
}
main .info .content h4,
main .info .content h5 {
    font-weight: normal;
}

main .info .content button {
    width: 100%;
    padding: 12px ;
    font-size: 15px;
    background-color: #fff;
    border: 0;
    border-radius: 20px;
    background-color: rgb(1, 172, 1);
    color: white;
    transition: .8s;
    margin-top: 10px;
    cursor: pointer;
}