<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Погода на сегодня в астане</h1>
{% for i in result %}

    <h2 style="margin: 0; padding: 0;">{{ i }}</h2>
    <br>

{% endfor %}

<h3>Время затраченное на обработку запроса: {{ time }}</h3>
</body>
</html>