<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authentication</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

</head>
<body style="display: flex;
    justify-content: space-evenly;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;">

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal_reg">
  <h4>Регистрация</h4>
</button>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal_auth">
  <h4>Авторизация</h4>
</button>
<!-- Modal -->
<div class="modal fade" id="exampleModal_reg" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel_reg">Регистрация</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="{% url 'authentication:index' %}" method="POST">
        {% csrf_token %}
        <div class="modal-body">

            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Username</label>
              <input type="text" name="username" autocomplete="off" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your Username with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" name="password" autocomplete="off"  class="form-control" id="exampleInputPassword1">
            </div>
  <!--          <div class="mb-3 form-check">-->
  <!--            <input type="checkbox" class="form-check-input" id="exampleCheck1">-->
  <!--            <label class="form-check-label" for="exampleCheck1">Check me out</label>-->
  <!--          </div>-->

        </div>
        <div class="modal-footer">
          <input type="hidden" name="reg" value="reg">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModal_auth" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel_auth">Авторизация</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="{% url 'authentication:index' %}" method="POST">
        {% csrf_token %}
        <div class="modal-body">

            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Username</label>
              <input type="text" name="username" autocomplete="off" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  <!--            <div id="emailHelp" class="form-text">We'll never share your Username with anyone else.</div>-->
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" name="password" autocomplete="off" class="form-control" id="exampleInputPassword1">
            </div>
        </div>
        <div class="modal-footer">
          <input type="hidden" name="auth" value="auth">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Авторизоваться</button>
        </div>
      </form>
    </div>
  </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

</body>
</html>