body {
  width:100vw;
  height: 100vh;
  background-color: #f8f9fa;
  padding: 20px 0;
}
header {
  width: 100%;
  padding: 10px 10%;
  /* height: 40px; */
  background-color: #343a40;
  color: white;
  margin-bottom: 20px;
}
.tasks {
  background-color: #ffffff;
  border: 2px solid #dfdfdf;
  border-radius: 6px;
  width: 80%;
  margin: 0 auto;
  /* height: ; */
}
.tasks .header {
  width: 100%;
  padding: 15px 25px;
  border-bottom: 2px solid #dfdfdf;
}
.tasks .header h4 {
  padding: 0;
  margin: 0;
}

.tasks .main {
  padding: 15px 25px;
}
.task {
  padding-top: 10px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}





.form-37 {
  border:1px solid #dfdfdf; border-radius:7px; background-color: #f5f5f5;
}

.input-41 {
  border: 0;background-color: #f5f5f5;
}

.button-1 {
  border-top-left-radius: 0px; border-bottom-left-radius: 0px;
}