body {
  /*background-color: #e3e3e3;*/
}
.App {
  margin: auto;
  width: 100%;
  height: 100vh;
  /*padding: 0 15%;*/

}
.header {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.content {
  width: 100%;
  text-align: center;
  height: calc(100% - 100px);
  display: flex;
  align-items: center;
  justify-content: center;

}

header {
  background-color: #fff;
}


a {
  text-decoration: none;
}


form {
  padding: 10px;
}



/* */
.card {
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}