{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<style>
    body, html {
        width: 100vw !important;
        height: 100vh !important;
    }
    body{
      background-color: #eee;
    }

    div.stars {
      width: 270px;
      display: inline-block;
    }
     .mt-200{
         margin-top:200px;
     }
    input.star { display: none; }
    label.star {
      float: right;
      padding: 10px;
      font-size: 22px;
      color: #4A148C;
      transition: all .2s;
    }
    input.star:checked ~ label.star:before {
      content: '★';
      color: #FD4;
      transition: all .25s;
    }
    input.star-5:checked ~ label.star:before {
      color: #FE7;
      text-shadow: 0 0 20px #952;
    }
    input.star-1:checked ~ label.star:before { color: #F62; }
    label.star:hover { transform: rotate(-15deg) scale(1.3); }
    label.star:before {
      content: "☆";
      font-family: FontAwesome;
    }
</style>
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static '/css/bootstrap.css' %}">
</head>
<body>
{% block body %}{% endblock body %}
<script src="{% static '/js/bootstrap.js' %}"></script>
<script src="{% static '/js/bootstrap.bundle.js' %}"></script>
</body>
</html>